<ul>
    <button style="background-color: yellow; font-family: Lato; font-size: 25px"><a href="{{ path('app_person_showall') }}">KONTAKTY</a></button>
    <button style="background-color: yellow; font-family: Lato; font-size: 25px"><a href="{{ path('app_person_new') }}">DODAJ KONTAKT</a></li></button>
</ul>
